body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    /* background-color:  #AAAAAA; */
}  
main{
  
    margin: 0 auto;
}
 /* influencer-info    */
header{
    margin-left: 60px;

    
}

.container{
    margin-top: 20px;
    padding: 5px 60px;
}
.influencer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}
.influencer-info{
    width: 550px;
    height: 270px;
}
.vission{
    width: 550px;
    height: 133px;
    font-size: 50px;
    font-weight: 700;
}
.photo{
    width: 440px;
    height: 414px;
    
}
.photo:hover{
    transition: 1s;
    transform: rotate(-120deg);
}
.link-button{
    text-decoration: none;
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
}
.link-button:hover{
    background-color: tomato;
}
/* influencer-info end */

 /* Gallery section  */
 .collection{
     text-align: center;
 }
 .available-stock{
     display: grid;
     grid-template-columns: repeat(3, 1fr);

 }
.gallerys{
    width: 329px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 0 20px;
    padding: 25px 0 25px 25px;
    margin-top: 30px;
}
.gallery{
    width: 300px;
    height: 256px;
    border-radius: 5px;
} 
.gallerys:hover{
    background-color: violet;
}
.available{
    
    font-size: 28px;
}
.fund{
    font-size: 14px;
    color: gray;
    line-height: 5px;
}
.fa-star.filled{
    color: orange;
}
.fa-star.empty{
    color: gray;
}
.next{
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    float: right;
    margin-right: 240px;
    margin-top: 40px;
}
/* student selection */
.social-icon{
    width: 70%;
    border-radius: 10px;
}

/* footer section start */
.last-box{
    width: 1500px;
    height: 239px;
    background-color: #0A0826;
    margin-top: 80px;
    color: white;
    text-align: center;
    
}
.box-info{
    padding-top: 20px;
}
.social-links{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    
}
/* Media Queries Section */
 @media only screen and (max-width:688px) {
    .influencer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 100px;
       }
       .vission{
           font-size: 40px;
           margin-top: 50px;
           
       }
       .influencer-info{
           width: 70%;
           padding-left:70px;
           align-items: center;
       }
       .paragraph{
           font-size: 10px;
          
       }
      
       .photo{
           width: 100%;
           margin-top: 80px;
       }
       .next{
           justify-content: center;
       }
       .social-icon{
           width: 80%;
           margin-left: 50px;
       }
    .available-stock{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .last-box{
        width: 100%;
        margin-top: 50px;

    }
}







