body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 /* influencer-info    */
}
.container{
    margin-top: 20px;
    padding: 5px 60px;
}
.influencer{
    display: flex;
    margin-top: 100px;
}
.influencer-info{
    width: 582px;
    height: 270px;
}
.vission{
    width: 582px;
    height: 133px;
    font-size: 52px;
    font-weight: 700;
}
.photo{
    width: 440px;
    height: 414px;
    padding-left: 200px;
}
.link-button{
    text-decoration: none;
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
}
/* influencer-info end */

 /* Gallery section  */
 .collection{
     text-align: center;
 }
 .available-stock{
     display: grid;
     grid-template-columns: repeat(3, 1fr);

 }
.gallerys{
    width: 329px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 0 20px;
    padding: 25px 0 25px 25px;
    margin-top: 30px;
}
.gallery{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    
} 
.available{
    
    font-size: 28px;
}
.fund{
    font-size: 14px;
    color: gray;
}
.filled{
    color: orange;
}
.empty{
    color: gray;
}
.next{
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    float: right;
    margin-right: 110px;
    margin-top: 40px;
}
/* footer section start */
.last-box{
    width: 1440px;
    height: 239px;
    background-color: #0A0826;
    margin-top: 80px;
    color: white;
    text-align: center;
    
}
.box-info{
    padding-top: 20px;
    
}
